
{%if user.is_authenticated%}
{% load static %}

<link rel="stylesheet" href="{%static '/css/nav_links.css'%}">

<div id="page-wrap">

    <section>
        <nav class="nav_bar_2">

            <a class="wish">Welcome {{user.first_name}} {{user.last_name}}</a>

            <ul>
                
                <li><a class="nav-links" href="{% url 'student_main' %}">Home</a></li>
                <li><a class="nav-links" href="{% url 'student_approved' %}">Approved</a></li>
                <li><a class="nav-links" href="{% url 'student_rejected' %}">Rejected</a></li>
                <li><a class="nav-links" href="{% url 'student_pending' %}">Pending</a></li>
                <li><a class="nav-links" href="{% url 'student_new_out_pass' %}">New OutPass</a></li>
                <li><a class="nav-links" href="{% url 'logout' %}">Logout</a></li>                


            </ul>
        </nav>
    </section>

{%endif%}

