
{% extends 'base.html' %}

{% block 'content' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/student_pending.css'%}">
    <title>Student Pending</title>
</head>
<body>
<div id="page-wrap">
    
    {%if user.is_authenticated%}
    
        <div class="main_1">
            <div class="main_2">
                <span class="title">Application Date</span>
                <span class="title">Date</span>
                <span class="title">Reason</span>
                <span class="title">Edit</span>
                <span class="title">Delete</span>
                <span class="title">Status</span>


            </div>
            {% for pass in new_request %}
                {% if pass.response == 'pending'%}
                    {% if pass.student_id == user.username %}
                        <form class="main_3" action="{% url 'outpass_delete' %}" method="POST">
                            {% csrf_token %}
                            <span class="title">{{pass.today_date}}</span>
                            <span class="title">{{pass.out_data}} </span>
                            <span class="title">{{pass.main_reason}}</span>
                            <a class="title_edit" href=" {% url 'student_out_pass_edit' %}">Edit</a>
                            <input type="hidden" style="display: none;" name="student_id" value="{{pass.student_id}}">
                            <button type="submit" class="title_del">Delete</button>
                            <span class="pending">Pending</span>
                            </form>

                        </form>
                        {% endif %}
                    {% endif %}
            {% endfor %}    
        </div>
    
    {%else%}

    <a href="{% url 'student_login' %}"><button class="home" >Please Login</button></a>

    {%endif%}



</div>
</body>
</html>

{% endblock 'content' %} 