* {
    padding: 0;
    margin: 0;
}


.login , .sign_up{
    background: white;
    width:5rem;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: large;
    font-family: poppins;
    text-transform: uppercase;
    background: #15364b;
    display: flex;
    align-items: center;
    justify-content: center;

}


.account-con{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.account{
    margin: 0 auto;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;

}

.login:hover , .sign_up:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

@media only screen and (max-width: 1182px) {
    .login , .sign_up{
        width: 3rem;
        height: 2.5rem;
        font-size: small;
    }
}