* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, #2980B9, #6DD5FA);
  font-family: 'Poppins', sans-serif;
}


#page-wrap {
  max-width: 1325px;
  margin: 0 auto;
}


/* main page start */
.new-con{
  width: 100%;
  margin-top: 12rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
}

.new-box{
  width: 49%;
  height:450px;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .4rem;
}

.data-con{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 4%;
  margin-right: 4%;
}

select{
  font-family: poppins;
  font-weight: bold;
  color: rgb(109, 104, 104);
  outline: none;
  border: 2px solid rgb(109, 104, 104);
  cursor: pointer;
}

  .r_reason {
    padding: 0.8rem;
    width: 16.5rem;
    background: transparent;
    font-weight: bold;
    color: rgb(109, 104, 104);
    outline: none;
    font-family: poppins;
    font-weight: bold;
    border: 2px solid rgb(109, 104, 104);
    letter-spacing: 1px;
    border-radius: 0.4rem;
  }
.submit {
  color: rgb(117, 111, 111);;
  font-weight: bold;
  border: transparent;
  width: 5rem;
  height: 2.8rem;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  font-family: poppins;
  border: 2px solid rgb(117, 111, 111);;
}
.submit:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.data{
width: 45%;
border: 2px solid rgb(117, 111, 111);
padding: 0.3rem ;
}


.home{
  background: white;
  border-radius: .4rem;
  color: rgb(109, 104, 104);
  width: 20%;
  padding: 1rem 1rem;
  border-radius: .4rem;
  border: none;
  margin-top: 27%;
  margin-left: 40%;
  font-weight: bold;
  font-family: poppins;
  cursor: pointer;
  text-transform: capitalize;
}

.home:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}


.footer{

  margin-top: 13%;

}


  
.but_con {
  width: 20%;
  height: 30vh;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: poppins;
  transition: ease-out 0.3s;
  transform:  scale(1);
  position: absolute;
  top: 40%;
  left: 40%;
}

.open_pop_up {
  transform:scale(0);
}
.pop_image{
  width: 25%;
  margin-top: -1rem;
  height: 9.5vh;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message{
    font-family: poppins;
    font-weight: bold;
    margin-top: 2%;

}
.note_but {
  margin-top: 1rem;
  background: rgb(41, 207, 41);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  border: none;
  width: 15%;
  height: 5.5vh;
  font-family: poppins;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
