
{%if user.is_authenticated%}
{% load static %}

<link rel="stylesheet" href="{%static '/css/nav_links.css'%}">

<div id="page-wrap">

    <section>
        <nav class="nav_bar_2">

            <a class="wish">Welcome {{user.first_name}} {{user.last_name}}</a>

            <ul>
                
                <li><a class="nav-links" href="{% url 'faculty_main' %}">Home</a></li>
                <li><a class="nav-links" href="{% url 'faculty_approved' %}">Approved</a></li>
                <li><a class="nav-links" href="{% url 'faculty_rejected' %}">Rejected</a></li>
                <li><a class="nav-links" href="{% url 'faculty_new_request' %}">New OutPass</a></li>
                <li><a class="nav-links" href="{% url 'logout' %}">Logout</a></li>

            </ul>
        </nav>
    </section>

{%endif%}

