
{% extends 'no_account_base.html' %}

{% block 'content' %}


{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/account.css'%}">
    <title>Faculty</title>
</head>
<body class="body"> 

        <div class="account-con">
            <div class="account">
                <a class="login" href="{% url 'faculty_login' %}">Login</a>
                <a class="sign_up" href="{% url 'faculty_sign_up' %}">SignUp</a>
            </div>
        </div>
</body>

</html>


{% endblock 'content' %}