{% extends 'no_account_base.html' %}

{% block 'content' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static '/css/index.css'%}">
  <title>RGUKT RK VALLEY</title>
</head>
<body class="body">

    <div class="index" id='page-wrap'>
      
      <div class="main">

        <img class="rgukt_logo" src="{%static '/images/rgukt.png'%}" alt="rgukt_logo">

        <div class="column">

          <span class="logo_name">Rajiv gandhi university of knowledge technologies</span>
          <span class="sub_logo_name">Catering to the educational needs of gifted rural youth of ap</span>
        
        </div>

      </div>

      <div class="account_btn">

        <a class="access_links" href="{% url 'faculty' %}">Faculty</a>
        <a class="access_links" id="extend" href="{% url 'student' %}">Student</a>
        <a class="access_links" id="extend" href="{% url 'security' %}">Security</a>

      </div>
      
    </div>
    <p id="display">please use on desktop site</p>

</body>
</html>

{% endblock 'content' %}