{% extends 'base.html' %}

{% block 'content' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{%static '/css/student_approved.css'%}">
    <title>Student Approved</title>
</head>
<body>
<div id="page-wrap">

    {%if user.is_authenticated%}

        <div class="main_1">
            <div class="main_2">
                <span class="title">Application Date</span>
                <span class="title" >Date</span>
                <span class="title">Reason</span>
                <span class="title">QR Code</span>
                <span class="title">Status</span>

            </div>  
            {% for pass in new_request %}
            {% if pass.student_id == user.username %}
            {% if pass.response == 'approve' %}
            <div class="main_3">
                {% csrf_token %}
                <span class="title">{{pass.today_date}}</span>
                <span class="title">{{pass.out_data}} </span>
                <span class="title" >{{pass.main_reason}}</span>
                <a href="/media/{{pass.qr_image_name}}" download="/media/{{pass.qr_image_name}}" ><button class="qr" type="submit">View QR </button></a>
                <span class="approve">Approved</span> 

            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>

    {%else%}
    <a href="{% url 'student_login' %}"><button class="home" >Please Login</button></a>
    {%endif%}

    <script>
        let popup = document.getElementById("pop");
        function close_up() {
          popup.classList.add("open_pop_up");
        }

    </script>

</body>
</html>

{% endblock 'content' %} 